<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/models.Model1.csdl|res://*/models.Model1.ssdl|res://*/models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESSEJACQUES;initial catalog=gestion_commandes_naza;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestionCommndesNaza.Properties.Settings.gestion_commandes_nazaConnectionString"
      connectionString="Data Source=ESSEJACQUES;Initial Catalog=gestion_commandes_naza;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>