<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.fr" version="6.2.0" targetFramework="net472" />
  <package id="Faker.Net" version="2.0.154" targetFramework="net472" />
  <package id="FluentValidation" version="8.6.1" targetFramework="net472" />
  <package id="FluentValidation.ValidatorAttribute" version="8.6.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.4" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.1" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="PasswordHashing" version="2.0.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.Data.HashFunction.Blake2" version="2.0.0" targetFramework="net472" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net472" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
</packages>